.features{
    background:#f8fafc;
}

.features h2{
    font-size:2.5rem;
    font-weight:700;
}

.feature-card{
    background:white;
    padding:30px;
    border-radius:18px;
    text-align:center;
    transition:.3s;
    box-shadow:0 8px 20px rgba(0,0,0,.08);
    height:100%;
}

.feature-card:hover{
    transform:translateY(-8px);
    box-shadow:0 15px 35px rgba(0,0,0,.15);
}

.feature-icon{
    font-size:3rem;
    margin-bottom:20px;
}